.cls_sfilter{
	position:relative;
	display:none;
	margin:0;
	font-size:12px;
}
.cls_sfilter_text{
	font-size:12px;
	font-family: Arial, Helvetica, Georgia, Sans-serif, "ו";
	border:1px solid #999;
	background:url('select_bg.gif') no-repeat right -1px;
	padding:0;
}
.cls_sfilter_list{
	font-family: Arial, Helvetica, Georgia, Sans-serif, "ו";
	font-size:12px;
	z-index:100;
	height:300px;
	max-height:300px;
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:auto;
	position:absolute;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid;
}
.cls_sfilter_list li{
	font-size:12px;
	clear:both;
	position:relative;
	margin-top:1px;
	line-height:20px;
}
.cls_sfilter_list .select_class{
	background:#3399FF;
	border:1px dashed #999;
	color:#fff;

}

.cls_sfilter_list .unselect_class{
	background:#ffffff;
}